.grid{
  display: grid;
  padding-top: 10px;
  padding-bottom: 50px;
  grid-template-columns: 1;
}
#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:30px;
  break-inside: avoid-column;
  grid-auto-flow: row;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
/* @media (max-width:1200px){
  #gallery{
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;
      -webkit-column-gap:20px;
      -moz-column-gap:20px;
      column-gap:20px;
 }
} */
#gallery img,#gallery video {
  margin: 1% auto;
  margin-top: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 325px;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}
.head{
  font-size: 40px;
  padding-left: 2.5vw;
}
.search-col {
  margin-top: 20px;
  text-align: center;
}
.product-name, .product-price {
  font-family: Amiko;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: black !important;
  margin-left: 15px;
}
.product {
  margin-bottom: 20px;
  overflow-x: hidden !important;
  display: inline-block;
}
.img-border {
  border-radius: 20px;
  overflow-x: hidden !important;
  width: 300px;
}
#gallery img,#gallery video {
  margin: 1% auto;
  margin-top: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}
.head{
  font-size: 40px;
  padding-top: 30px;
}
.product-name, .product-price {
  font-family: Amiko;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: black !important;
  margin-left: 15px;
}
.product {
  margin-bottom: 20px;
  overflow-x: hidden !important;
  display: inline-block;
  /* margin-right: 150px; */
  width: 100%;
}
.img-border {
  border-radius: 20px;
  overflow-x: hidden !important;
  width: 300px;
}
#gallery {
  overflow-x: hidden !important;
}
html,body {
  overflow-x: hidden;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.input-section{
  height: 8vh;
  padding-top: 1.5vh;
}
.input-section .input-field{
  height: 100%;
  width: 20%;
  margin-left: 2%;
  padding-left: 2%;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
}
.input-section .search-icon{
  padding-left: 1%;
  font-size: 2rem;
  cursor: pointer;
}
.product img{
  width: 100% !important;
}

.foot{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 8vh;
  font-size: 3rem;
  width: 100%;
  position: absolute;
}
@media (max-width: 1680px){
  .foot div{
      font-size: 1.5rem;
  }
}

@media (max-width: 950px){
  .foot div{
      font-size:2rem
  }
}
@media (max-width: 650px){
  .foot{
      margin-top: 2vh;
  }
  .foot div{
      font-size: 1.2rem;
  }
}


@media (max-width:800px){
  #gallery{
      -webkit-column-count:2;
      -moz-column-count:2;
      column-count:2;
      -webkit-column-gap:20px;
      -moz-column-gap:20px;
      column-gap:20px;
      break-inside: avoid-column;
      grid-auto-flow: row;
      min-height: 10vh;
 }
 

 /* @media (max-width:1200px){
      #gallery{
          -webkit-column-count:2;
          -moz-column-count:2;
          column-count:2;
          -webkit-column-gap:20px;
          -moz-column-gap:20px;
          column-gap:20px;
     }
 }
  */
}
/* @media (max-width:800px){
  #gallery{
      -webkit-column-count:2;
      -moz-column-count:2;
      column-count:2;
      -webkit-column-gap:20px;
      -moz-column-gap:20px;
      column-gap:20px;
 }
}
*/

@media (max-width:600px) {
  #gallery img {
      width: 150px;
 }
 #gallery{
    -webkit-column-count:2 !important;
    -moz-column-count:2 !important;
    column-count:2 !important;
    margin: 0px;
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  .img-border {
    width: 150px;
  }
  .grid{
    padding-top: 0px;
  }
}

@media (max-width:1490px){
  #gallery img,#gallery video {
    width: 255px;
  } 
}
@media (max-width:1190px){
  #gallery img,#gallery video {
    width: 205px;
  } 
  .input-section .input-field{
    height: 70%;
    width: 40%;
  }
}
@media (max-width:900px){
  #gallery img,#gallery video {
    width: 275px;
  } 
  .head{
    padding-top: 10px;
  }
}
@media (max-width:680px){
  #gallery img,#gallery video {
    width: 165px;
  } 
  .input-section .input-field{
    height: 70%;
    width: 85%;
    margin-left: 4%;
  }
}