@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
.containerr {
  margin: auto;
  padding: 20vh 0;
  width: 100%;
  height: 88.2vh;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.grid > [class*=column-] {
  display: block;
}

.first {
  order: -1;
}

.last {
  order: 12;
}

.align-top {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: end;
}

.column-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.column-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.column-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.column-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .column-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 62rem) {
  .column-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 75rem) {
  .column-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@supports (display: grid) {
  /* .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  } */
  .grid > [class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column-xs-1 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  .column-xs-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }

  .column-xs-3 {
    grid-column-start: span 3;
    grid-column-end: span 3;
  }

  .column-xs-4 {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .column-xs-5 {
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  .column-xs-6 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .column-xs-7 {
    grid-column-start: span 7;
    grid-column-end: span 7;
  }

  .column-xs-8 {
    grid-column-start: span 8;
    grid-column-end: span 8;
  }

  .column-xs-9 {
    grid-column-start: span 9;
    grid-column-end: span 9;
  }

  .column-xs-10 {
    grid-column-start: span 10;
    grid-column-end: span 10;
  }

  .column-xs-11 {
    grid-column-start: span 11;
    grid-column-end: span 11;
  }

  .column-xs-12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }

  @media (min-width: 48rem) {
    .column-sm-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-sm-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-sm-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-sm-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-sm-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-sm-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-sm-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-sm-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-sm-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-sm-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-sm-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-sm-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 62rem) {
    .column-md-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-md-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-md-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-md-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-md-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-md-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-md-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-md-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-md-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-md-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-md-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-md-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 75rem) {
    .column-lg-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-lg-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-lg-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-lg-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-lg-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-lg-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-lg-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-lg-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-lg-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-lg-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-lg-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-lg-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
}
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

a {
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #333;
}
a.active {
  color: #333;
}

h1, h2, h3, h4 {
  color: #333;
  font-weight: normal;
  margin: 1.75rem 0 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  display: block;
}
nav li {
  font-size: 1.125rem;
  margin: 0;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  text-align: center;
}
.flex-nav ul.active {
  display: flex;
}
.flex-nav ul li {
  margin: 0.5rem 0;
}

.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  line-height: 1.7;
  margin: 1rem 0;
}
.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 0 0.5rem;
}

#highlight {
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.price {
  margin: 0;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}
.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: #d5d5d5;
}

.description {
  margin: 2rem 0;
  padding: 1rem 0 0 0;
}

.add-to-cart {
  position: relative;
  display: inline-block;
  background: #3e3e3f;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(0);
  transition: color 0.3s ease;
  letter-spacing: 0.0625rem;
}
/* .add-to-cart:hover::before {
  transform: scaleX(1);
}
.add-to-cart::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #565657;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
} */

.containerr {
  margin: auto;
  width: 100%;
  padding: 5.5vh 1vw;
}

#gallery{
  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:2;
  padding-right: 35px !important;
  
  /* -webkit-column-gap:15px;
  -moz-column-gap:15px;
  column-gap:15px; */
}

@media (max-width:800px){
  #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
}
@media (max-width:600px){
  #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }  
  .container-fluid{
    padding-left:0 !important;
  }
  #gallery img, #gallery video{
    width: 95%!important;
  }
  .description p{
    font-size: 1.6rem;
  }
  .product-color span,
  .price-tag,.spann,
  .titles{
    font-size: 22px;
    font-weight: bold
  }
  .select-size label {
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 1.5rem;
  }
  .quantity a span{
    font-size: 2.2rem;
  }
  .col input{
    font-size: 2.2rem;
  }
  .uwu button{
    font-size: 1.5rem;
  }
  .price-color{
    font-size: 3rem;
  }
  .quantity__minus,
  .quantity__plus {
    width:45px;
    height: 45px;
  }
  .containerr{
    padding: 4vh 1vh 0 1vh;
  }
  .colors{
    width: 65%!important;
  }
  #gallery{
    padding-right: 0!important;
  }
  .uwu a button{
    width: 44vw !important;
    font-size: 1.7rem!important;
  }
  .new{
    flex-direction: column !important;
    justify-content: space-around !important;
  }
}

#gallery img,#gallery video {
  width:100%;
  height:auto;
  margin: 4% auto;
  margin-top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: none !important;
  border-radius: 20px;
}

.modal-img,.model-vid{
  width:100%;
  height:auto;
  max-height: 90vh;
 border: none;
 background: none !important;
}
.modal-body{
  padding:0px;
  background: none !important;

}

.select-size  input{
  display: none;
}
.select-size{
  width: 100%;
}

.select-size label {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 40px;
  cursor: pointer;
  display:inline-block;
  margin-right: 1vw;
}
.new{
  display: flex;
  justify-content: space-between;
}
#x-small:checked ~ label[for="x-small"],
#small:checked ~ label[for="small"],
#medium:checked ~ label[for="medium"],
#large:checked ~ label[for="large"],
#x-large:checked ~ label[for="x-large"] {
  background: rgb(199, 71, 71);
  color: #fff;
}
.titles{
  font-size: 15px;
  font-weight: bold
}
/* counter */
.quantity {
  display: flex;
  padding: 0;
  width: fit-content;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  background: rgb(0, 0, 0, 0.75);
  text-decoration: none;
  text-align: center;
  margin-bottom: 7px;
  text-decoration: none;
}
.quantity input{
  margin-bottom: 5px;
}
.quantity__minus span,
.quantity__plus span{
  text-decoration: none;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 2px solid white;
  background: #fff;
  color: #8184a1;
  margin: 0 1vw;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #333;
  color: transparent;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}
.quantity a{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
.quantity a span{
  color: white;
  font-size: 2.5rem;
}

#x-small ~ label[for="x-small"],
#small ~ label[for="small"],
#medium ~ label[for="medium"],
#large ~ label[for="large"],
#x-large ~ label[for="x-large"] {
  background: rgb(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 7px;
}

.just-row{
  display: flex;
  padding-right: 2vw;
}
.magnify{
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: inset 0 0 20px rgba(0,0,0,.5);
  display: none;
  cursor: none;
}
.roww{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col{
  display: flex;
  flex-direction: row;
  padding-right: 2vw;
  align-items: flex-end;
}

.gallery-height {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 700px;
	align-content: center;
}

.img {
	width: 30%;
	background-color: orange;
	margin: 5px;
	color: aliceblue;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 45px;
	border-radius: 2px;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}
.product-color span{
  font-size: 15px;
  font-weight: bold
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.color-choose label {
  border: none;
}

.uwu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.uwu a button{
  background-color: rgb(199, 71, 71);
  border-radius: 10px;
  margin-left: auto;
  margin-right: 2vw;
  height: 6.5vh;
  width: 14vw;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
}

.stock {
  color: green;
  margin: 10px;
}

.out {
  color: red;
}



.img1{
  overflow: hidden;

}

.zoomArea {

  
    overflow:hidden;
  
  }
  
  .zoomArea > image {
  
    width:100%;
      height:100%;
  
  }
  
  .zoomArea2 {

  
    overflow:hidden;
    margin-bottom: 20px;
  
  }
  
  .zoomArea2 > image {
  
    width:100%;
      height:100%;
  
  }

  .zoom img {
    display: block;
  }
  
.colors{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.colors label{
  width:35px;
  height:35px;
  display:inline-block;
  color:black;
  cursor:pointer;
  position:relative;
}
.headerrr{
  margin-bottom: 8px;
}
.colors input:checked + .colors label:before {
   opacity:1;
}

.colors label:before {
  position:absolute;
  right: 0px;
    height:25px;
    width:25px;
    content:'';
    opacity:0;
}

.capitalise{
  text-transform: uppercase;
  font-size: 3.5rem;
}
.price-tag{
  font-size: 15px;
  font-weight: bold
}
.colors input:checked + label {
border: 3px rgb(255, 0, 0) solid;
}
.price-color{
  color: rgb(199, 71, 71);
  font-weight: bold;
  font-size: 3rem;
}

.colour-box-black {
  background-color: #000000;
  border: 3px #000000 solid;
  border-radius: 50%;
}

.colour-box-brown {
  background-color: #FF9900;
  border: 3px #FF9900 solid;
  border-radius: 50%;
}

.colour-box-yellow {
  background-color: #FFFF00;
  border: 3px #FFFF00 solid;
  border-radius: 50%;
}

.colour-box-green {
  background-color: #009E0F;
  border: 3px #009E0F solid;
  border-radius: 50%;
}

.colour-box-blue {
  background-color: #2B78E4;
  border: 3px #2B78E4 solid;
  border-radius: 50%;
}

.colors input{
  display:none;
}

.cart-img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}



.shopping-cart {
  height: 20px;
  z-index: 998;
  position: relative;
  height: 100vh;
  
}

.cart-btn1 {
  padding: 10px;
  background: #f1eeee;
  color: #000000;
  border-radius: 100%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  font-size: 24px;
  display: none;
}

@media (max-width: 600px) {
  .cart-btn1 {
    display: block;
  }
}

@media (max-width: 1950px) {
  .description p{
    font-size: 2.5rem;
  }
  .product-color span,
  .price-tag,.spann,
  .titles{
    font-size: 25px;
    font-weight: bold
  }
  .select-size label {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 1.7rem;
  }
  .quantity a span{
    font-size: 2.7rem;
  }
  .col input{
    font-size: 2.7rem;
  }
  .uwu button{
    font-size: 2.3rem;
  }
  .price-color{
    font-size: 3.6rem;
  }
  .quantity__minus,
  .quantity__plus {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1650px) {
  .description p{
    font-size: 1.5rem;
  }
  .product-color span,
  .price-tag,.spann,
  .titles{
    font-size: 20px;
    font-weight: bold
  }
  .select-size label {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.3rem;
  }
  .quantity a span{
    font-size: 2.2rem;
  }
  .col input{
    font-size: 2.2rem;
  }
  .uwu button{
    font-size: 1.6rem;
  }
  .price-color{
    font-size: 3rem;
  }
  .quantity__minus,
  .quantity__plus {
    width:45px;
    height: 45px;
  }
  .roww{
    justify-content: flex-start;
  }
}
@media (max-width: 1180px) {
  .grid{
    display: block;
  }
  .description p{
    font-size: 1.9rem;
  }
  .product-color span,
  .price-tag,.spann,
  .titles{
    font-size: 25px;
    font-weight: bold
  }
  .select-size label {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 1.8rem;
  }
  .quantity a span{
    font-size: 2.5rem;
  }
  .col input{
    font-size: 2.5rem;
  }
  .uwu button{
    font-size: 1.8rem;
  }
  .price-color{
    font-size: 3.2rem;
  }
  .quantity__minus,
  .quantity__plus {
    width:50px;
    height: 50px;
  }
  .roww{
    justify-content: flex-start;
  }
  #gallery img,#gallery video {
    width:90%;
    height:auto;
  }
  #gallery{      
    -webkit-column-gap:0px;
    -moz-column-gap:0px;
    column-gap:0px;
  }
  .containerr{
    padding: 4vh 1vh 0 1vh;
  }
  .uwu button{
    width: 24vw;
    font-size: 2.5rem;
  }
  .colors{
    width: 40%;
  }
  #gallery{
    padding-right: 0!important;
  }
  .uwu a button{
    width: 24vw;
    font-size: 2rem
  }
}
@media (max-width: 950px) {
  .description p{
    font-size: 1.6rem;
  }
  .product-color span,
  .price-tag,.spann,
  .titles{
    font-size: 20px;
    font-weight: bold
  }
  .select-size label {
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 1.5rem;
  }
  .quantity a span{
    font-size: 2.3rem;
  }
  .col input{
    font-size: 2.3rem;
  }
  .uwu button{
    font-size: 1.5rem;
  }
  .price-color{
    font-size: 3rem;
  }
  .quantity__minus,
  .quantity__plus {
    width:45px;
    height: 45px;
  }
  .uwu button{
    width: 27vw;
    font-size: 2.2rem;
  }
  .colors{
    width: 35%;
  }
  #gallery{
    padding-right: 0!important;
  }
  h1{
    margin: 0rem 0 1rem 0;
  }
  #gallery img,#gallery video {
    width:90%;
    height:90%;
  }
}