<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Terrace Gig</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/allproducts.css">
</head>
<body style="overflow-x: hidden;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"></div><a href="" class="navbar-brand"><img src="/public/imgs/logo.png" alt="logo" srcset="" class="navlogo"></a>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a href="#somewhere1">Apparel</a>
          </li>
          <li>
            <a href="#somewhere2">Home Decor</a>
          </li>
          <li>
            <a href="#somewhere1">Collections</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <div class="second-nav">
      <div class="row" style="padding-top: 70px;">
        <div class="col-lg-3">
          <div class="head">
            All Products
          </div>
        </div>
        <div class="col-lg-2 search-col">
          <input type="text" id="search">
        </div>
      </div>
    </div>
    <div class="grid product">
      <div class="column-xs-12">
        <div id="gallery" class="container-fluid">
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt1.png" class="img-border" alt="shirt1">
            <div class="product-name">
              Product Name
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt2.png" class="img-border" alt="shirt2">
            <div class="product-name">
              Yellow Tshirt
            </div><!-- <div class="product-price">Rs.4000</div> -->
          </div>
          <div class="product">
            <img src="/public/imgs/shirt3.png" class="img-border" alt="shirt3">
            <div class="product-name">
              Tshirt
            </div><!-- <div class="product-price">Rs.2000</div> -->
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
  <div class="footer justify-content-center">
    <div>
      @theterracegig
    </div>
    <div>
      TerraceGig@Gmail.com
    </div>
    <div>
      @theterracegig
    </div>
  </div>
  <script>
         $(document).ready(function(){
                     $("#search").on("keyup", function() {
                       var value = $(this).val().toLowerCase();
                       $("#gallery .product").filter(function() {
                         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                       });
                     });
                   });
                   
  </script>
</body>
</html>